@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.wholecontainer {
    background-size: cover;
    text-align: -webkit-center;
}

.container {
    height: auto;
    padding-bottom: 30px;
}
.topnav {

    height: 40px;
    background-color: black;
    padding: 15px;
    overflow: hidden;
    font-weight: bold;
    margin-bottom: 30px;
}

.topnav .active {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 25px;
    transition: 0.5s;
    letter-spacing: 2px;
}
.topnav .active:hover {
    color: rgb(250, 15, 211);
    letter-spacing: 5px;
}
.topnav .btn {
    display: none;
    float: right;
    display: block;
    background-color: gold;
    color: black;
    box-shadow: 0px 0px 0px 2.5px rgba(238, 12, 163, 0.979);
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 15px;
}

.topnav .btn:hover {
    
    color: rgb(37, 3, 158);
    background-color: #33ff00;
}

/* When the screen is less than 600 pixels wide */
@media screen and (max-width: 600px) {
    .topnav a.btn {
        color: #f2f2f2;
        float: right;
        display: block;
    }
    
    .container {
        height: 205vh;
        text-align: -webkit-center;
    }
}

.instruction {
  
    width: 50%;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid white;
    margin: 10% auto 0;
    background: linear-gradient(045deg, rgba(255, 78, 255, 0.555), rgba(59, 57, 57, 0.555));
    color: black;
}